openapi: 3.0.3
# generated: '2026-07-19'
# method: generated
# source: https://www.jetify.com/docs/nixhub/ (endpoint reference) + live requests to
#   https://search.devbox.sh/v2/search and /v2/resolve (both HTTP 200, 2026-07-19).
#   The published /docs/api-reference/openapi.json returned HTTP 404, so this spec is
#   faithfully reconstructed from the documented request/response schemas and confirmed
#   against live responses. No fabricated fields.
info:
  title: Nixhub API
  version: 2.0.0
  description: >-
    The Nixhub API lets you search over 1 million package versions for over 100,000
    Nix packages. Search for packages, look up version history, and resolve a package
    name + version to a nixpkgs commit and flake installable for use with Devbox or Nix.
    Free for personal use, subject to IP-based rate limiting. Built and operated by Jetify.
  contact:
    name: Jetify
    url: https://www.jetify.com/docs/nixhub/
  termsOfService: https://www.jetify.com/legal/terms
servers:
- url: https://search.devbox.sh/v2
  description: Nixhub production API (v2)
paths:
  /search:
    get:
      operationId: searchPackages
      summary: Search Packages
      description: >-
        Search for packages in the Nixpkgs repository using a search query. The response
        includes a list of package names along with their description. To get available
        versions and installables for a package, use the returned name with /pkg.
      parameters:
      - name: q
        in: query
        required: true
        description: Search query.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: 'Bad Request: empty search query (set a ?q=<query> query parameter)'
        '404':
          description: Not Found
  /pkg:
    get:
      operationId: getPackage
      summary: Get a Package
      description: >-
        Get information about a specific package in Nixpkgs, including a list of releases,
        platforms, and outputs. Use this endpoint when you know the package name. To search
        for packages use /search; for only the latest matching version use /resolve.
      parameters:
      - name: name
        in: query
        required: true
        description: The name of the package you want to look up. Must be a valid Nixpkgs package name.
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '400':
          description: 'Bad Request: empty package name (set a ?name=<pkg> query parameter)'
        '404':
          description: Not Found
  /resolve:
    get:
      operationId: resolvePackageVersion
      summary: Resolve a Package Version
      description: >-
        Resolve a package name + version string to the latest matching version available in
        Nixpkgs. The response includes the flake installable information for the package on
        each supported platform.
      parameters:
      - name: name
        in: query
        required: true
        description: The name of the package you want to resolve. Must be a valid Nixpkgs package name.
        schema:
          type: string
      - name: version
        in: query
        required: true
        description: The version string of the package you want to resolve.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvedPackage'
        '400':
          description: '400 Bad Request: empty name (set a ?name=<value> query parameter)'
        '404':
          description: Not Found
components:
  schemas:
    SearchResponse:
      type: object
      properties:
        query:
          type: string
          description: The search query sent to the /search endpoint.
        total_results:
          type: integer
          description: The total number of results for the search query.
        results:
          type: array
          description: A list of SearchResults that match the query. Empty if no results were found.
          items:
            $ref: '#/components/schemas/SearchResult'
    SearchResult:
      type: object
      properties:
        name:
          type: string
          description: The name of the package that matched the search query.
        summary:
          type: string
          description: A short description of the package.
        last_updated:
          type: string
          description: The last time this package was updated in the Nixpkgs repo.
    Package:
      type: object
      properties:
        name:
          type: string
          description: The name of the package in Nixhub/Devbox.
        summary:
          type: string
          description: A short description of the package.
        homepage_url:
          type: string
          description: The URL to the package's project homepage.
        license:
          type: string
          description: The software license of the package.
        releases:
          type: array
          items:
            $ref: '#/components/schemas/Release'
    Release:
      type: object
      properties:
        version:
          type: string
        last_updated:
          type: string
        platforms:
          type: array
          items:
            $ref: '#/components/schemas/Platform'
        platforms_summary:
          type: string
          description: A summary string that represents the platforms the release can be installed on.
        outputs_summary:
          type: string
          description: A summary string of the outputs (e.g., out, lib, dev) available for the release.
    Platform:
      type: object
      properties:
        arch:
          type: string
        os:
          type: string
        systems:
          type: string
          description: >-
            The full Nix compatible name of the system. One of aarch64-darwin, aarch64-linux,
            x86_64-darwin, or x86_64-linux.
        attribute_path:
          type: string
          description: The attribute path to the package in Nixpkgs. Used to install with Nix or Devbox.
        commit_hash:
          type: string
          description: The hash of the Nixpkgs commit this package was last updated in.
        date:
          type: string
          description: The date this package was last updated in Nixpkgs.
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output'
    ResolvedPackage:
      type: object
      properties:
        name:
          type: string
          description: The name of the package that was resolved.
        version:
          type: string
          description: The latest version of the package that matches the version string provided.
        summary:
          type: string
        systems:
          type: object
          description: >-
            A map of Nix system identifiers (aarch64-darwin, aarch64-linux, x86_64-darwin,
            x86_64-linux) to the installable details of the package on that system.
          additionalProperties:
            $ref: '#/components/schemas/SystemInstallable'
    SystemInstallable:
      type: object
      properties:
        flake_installable:
          $ref: '#/components/schemas/FlakeInstallable'
        last_updated:
          type: string
        outputs:
          type: array
          items:
            $ref: '#/components/schemas/Output'
    FlakeInstallable:
      type: object
      description: The information needed to install this package as a flake reference.
      properties:
        ref:
          $ref: '#/components/schemas/FlakeRef'
        attr_path:
          type: string
          description: The attribute path to the package in the flake. Used to install with Nix or Devbox.
    FlakeRef:
      type: object
      description: The full Nix reference to the flake that contains this package.
      properties:
        type:
          type: string
          description: The type of flake reference. Usually 'github'.
        owner:
          type: string
          description: The owner of the repository that contains the flake. Usually 'NixOS'.
        repo:
          type: string
          description: The repository that contains the flake. Usually 'nixpkgs'.
        rev:
          type: string
          description: The Git revision of the flake. Usually a commit hash.
    Output:
      type: object
      properties:
        name:
          type: string
          description: The name of the output (e.g., out, lib, dev).
        path:
          type: string
          description: The unique path to the output in the Nix store.
        default:
          type: boolean
          description: Whether this output is the default output for the package.
        nar:
          type: string
          description: The path to the package's NAR (Nix Archive) file containing build artifacts.
